body {
    #header-container {
        .header {
            position: relative;
            min-height: 80px;
            display: block;
            img {
                position: relative;
                z-index: 4;
				max-width: 210px;
				max-height: 80px;
                float: left;
                width: auto;
                height: auto;
                display: block;
                border: 1px solid #000; 
			}
        }
    }
    .contact-section {
        width: 100%;
        background: url(../images/NSSF_Building,_Nairobi.png) no-repeat;
        background-size: cover;
        .container-fluid {
            .row {
                .col-md-4 {
                    text-align: center;
                    background: url(../images/get-in-touch-bg.png) no-repeat;
                    background-size: cover;
                    
                    header {
                        width: 320px;
                        height: 190px;
                        padding: 18px 20px;
                        margin-bottom: 55px;
                        margin-right: 0;
                        border: 12px solid rgba(156, 150, 158, 0.07);
                        float: right;
                        h1 {
                            font-size: 60px;
                            font-weight: 700;
                            line-height: 70px;
                            text-transform: uppercase;
                            color: #e2db1a;
                            margin-left: -110px;
                            font-family: 'Montserrat', sans-serif;
                            
                        }
                    }
                    ul {
                        li {
                            list-style-type: none;
                            padding-bottom: 35px;
                            span {
                                color: white;
                                font-size: 16px;
                                font-weight: 400;
                                text-transform: uppercase;
                                display: block;
                                font-family: 'Montserrat', sans-serif;
                            }
                            a {
                                line-height: 27px;
                                color: #e2db1a;
                                display: block;
                                font-size: 16px;
                                font-weight: 400;
                                font-family: 'Montserrat', sans-serif;
                            }
                            i {
                                line-height: 27px;
                                color: #e2db1a;
                                display: block;
                                font-size: 16px;
                                font-weight: 400;
                                font-family: 'Montserrat', sans-serif;
                            }
                        }
                    }
                }
                .col-md-8 {
                    .contacts_form {
                        padding-right: 50px;
                        padding-left: 50px;
                        form {
                            padding-top: 15px;
                            padding-left: 10px;
                            
                            input {
                                padding: 10px 15px;
                                display: inline-block;
                                margin-top: 5px;
                                margin-bottom: 37px;
                                width: 100%;
                                background: transparent;
                                border: none;
                                border-bottom: 2px solid #fff;
                                outline: none;
                                /*color: white;
                                font-family: 'Montserrat';
                                text-transform: uppercase;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 25px;
                                -webkit-appearance: textfield;*/
                                color: white;
                                font-size: 16px;
                                font-weight: 400;
                                text-transform: uppercase;
                                display: block;
                                font-family: 'Montserrat', sans-serif;
                                
                            }
                            input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
                                color: white;
                            }
                            input:-moz-placeholder, textarea:-moz-placeholder {
                                color: white;
                            }
                            input:-ms-input-placeholder, textarea:-ms-input-placeholder {
                                color: white;
                            }
                            textarea {
                                padding: 10px 15px;
                                display: inline-block;
                                margin-top: 5px;
                                margin-bottom: 37px;
                                width: 100%;
                                background: transparent;
                                border: none;
                                border-bottom: 2px solid #fff;
                                outline: none;
                                color: white;
                                font-family: 'Montserrat', sans-serif;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 25px;
                                text-transform: uppercase;
                            }
                            
                            button {
                                background: transparent;
                                outline: none;
                                border: 1px solid rgba(63, 66, 73, 0.8);
                                padding: 0 45px 0 50px;
                              
                                float: right;
                                line-height: 45px;
                                
                                transition: all 0.35s ease-in;
                                color: white;
                                font-size: 16px;
                                font-weight: 400;
                                text-transform: uppercase;
                                display: block;
                                font-family: 'Montserrat', sans-serif;
                                
                                .bg_arrow {
                                    margin-left: 10px;
                                    display: inline-block;
                                    width: 25px;
                                    height: 7px;
                                    background: url("../images/bg-arrow-sendbtn.png") 0 0 no-repeat;
                                }
                            }
                            button:hover {
                                background: rgba(52, 46, 54, 0.55);
                            }
                            .content-footer {
                                display: inline-block;
                                span {
                                    color: white;
                                    font-family: 'Montserrat', sans-serif;
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 25px;
                                    text-transform: uppercase;
                                    padding-top: 5%;
                                    small {
                                        color: #e2db1a;
                                        font-family: 'Montserrat', sans-serif;

                                        font-weight: 400;
                                        line-height: 25px;
                                        text-transform: uppercase;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .location-info {
        position: relative;
        width: 100%;
        height: 450px; 
       
        background: #757F9A; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #757F9A , #D7DDE8); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #757F9A , #D7DDE8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        .container {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0px;
            .row {
                width: 100%;
                .col-md-8 {
                    h1 {
                       
                        text-transform: uppercase;
                        color: #e2db1a;
                        font-family: 'Montserrat', sans-serif;
                        span {
                            color: antiquewhite;
                            font-family: 'Montserrat', sans-serif;
                        }
                    }
                    p {
                        color: white;
                        text-transform: uppercase;
                        
                        font-family: 'Montserrat', sans-serif;
                    }
                }
            }
        }
    }
}